<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://k2webdev.com">K2 WEB DEV</a>
      by <a href="http://kibeomk.im">The K</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>